{%extends 'df_goods/base_goods.html' %}
{%block child_script%}
<script type="text/javascript" src="/static/js/slideshow.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>
{%endblock child_script%}

{%block child_content%}


		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
                {%for item in fruit.click%}
				<a href="/detail/?g_type=新鲜水果&g_id={{item.id}}">{{item.g_title|slice:'10'}}...</a>
                {%endfor%}
			</div>
			<a href="/list/?g_type=新鲜水果&p_index=1&sort=default" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
                {%for item in fruit.content%}
                <li>
					<h4><a href="/detail/?g_type=新鲜水果&g_id={{item.id}}">{{item.g_title}}</a></h4>
					<a href="/detail/?g_type=新鲜水果&g_id={{item.id}}""><img src="/static/{{item.g_pic}}"></a>
					<div class="prize">¥ {{item.g_price}}</div>
				</li>
                {%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
                {%for item in seafood.click%}
				    <a href="/detail/?g_type=海鲜水产&g_id={{item.id}}">{{item.g_title|slice:'10'}}...</a>
                {%endfor%}
			</div>
			<a href="/list/?g_type=海鲜水产&p_index=1&sort=default" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
				{%for item in seafood.content%}
                <li>
					<h4><a href="/detail/?g_type=海鲜水产&g_id={{item.id}}">{{item.g_title}}</a></h4>
					<a href="/detail/?g_type=海鲜水产&g_id={{item.id}}"><img src="/static/{{item.g_pic}}"></a>
					<div class="prize">¥ {{item.g_price}}</div>
				</li>
                {%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for item in meat.click%}
				    <a href="/detail/?g_type=猪牛羊肉&g_id={{item.id}}">{{item.g_title|slice:'10'}}...</a>
                {%endfor%}
			</div>
			<a href="/list/?g_type=猪牛羊肉&p_index=1&sort=default" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
                {%for item in meat.content%}
				<li>
					<h4><a href="/detail/?g_type=猪牛羊肉&g_id={{item.id}}">{{item.g_title}}</a></h4>
					<a href="/detail/?g_type=猪牛羊肉&g_id={{item.id}}"><img src="/static/{{item.g_pic}}"></a>
					<div class="prize">¥ {{item.g_price}}</div>
				</li>
                {%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for item in egg.click%}
				    <a href="/detail/?g_type=禽类蛋品&g_id={{item.id}}">{{item.g_title|slice:'10'}}...</a>
                {%endfor%}
			</div>
			<a href="/list/?g_type=禽类蛋品&p_index=1&sort=default" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{%for item in egg.content%}
				<li>
					<h4><a href="/detail/?g_type=禽类蛋品&g_id={{item.id}}">{{item.g_title}}</a></h4>
					<a href="/detail/?g_type=禽类蛋品&g_id={{item.id}}"><img src="/static/{{item.g_pic}}"></a>
					<div class="prize">¥ {{item.g_price}}</div>
				</li>
                {%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for item in vegetables.click%}
				    <a href="/detail/?g_type=新鲜蔬菜&g_id={{item.id}}">{{item.g_title|slice:'10'}}...</a>
                {%endfor%}
			</div>
			<a href="/list/?g_type=猪牛羊肉&p_index=1&sort=default" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{%for item in vegetables.content%}
				<li>
					<h4><a href="/detail/?g_type=新鲜蔬菜&g_id={{item.id}}">{{item.g_title}}</a></h4>
					<a href="/detail/?g_type=新鲜蔬菜&g_id={{item.id}}"><img src="/static/{{item.g_pic}}"></a>
					<div class="prize">¥ {{item.g_price}}</div>
				</li>
                {%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for item in ice.click%}
				    <a href="/detail/?g_type=速冻食品&g_id={{item.id}}">{{item.g_title|slice:'10'}}...</a>
                {%endfor%}
			</div>
			<a href="/list/?g_type=速冻食品&p_index=1&sort=default" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{%for item in ice.content%}
				<li>
					<h4><a href="/detail/?g_type=速冻食品&g_id={{item.id}}">{{item.g_title}}</a></h4>
					<a href="/detail/?g_type=速冻食品&g_id={{item.id}}"><img src="/static/{{item.g_pic}}"></a>
					<div class="prize">¥ {{item.g_price}}</div>
				</li>
                {%endfor%}
			</ul>
		</div>
	</div>

	{%endblock child_content%}

